Source: rockchip-firmware
Section: kernel
Priority: optional
Maintainer: Stanislav Vlasic <svlasic@gmail.com>
Standards-Version: 4.5.1
Build-Depends: debhelper, rsync
Homepage: https://github.com/Stane1983/rockchip-firmware

Package: rockchip-firmware
Architecture: all
Multi-Arch: foreign
Priority: optional
Depends: ${misc:Depends}
Replaces: orangepi-firmware, armbian-firmware
Description: Firmware for Linux kernel drivers
 This package provides firmware used by Linux kernel drivers.

